@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: 
    url('./fonts/Bungee_Inline/BungeeInline-Regular.ttf') format('ttf'),
    url('./fonts/Bungee_Inline/Bungee-Inline.woff') format('woff'),
    url('./fonts/Bungee_Inline/Bungee-Inline.woff2') format('woff2');
}

@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: 
    url('./fonts/Bungee/Bungee-Regular.ttf') format('ttf'),
    url('./fonts/Bungee/Bungee-Regular.woff') format('woff'),
    url('./fonts/Bungee/Bungee-Regular.woff2') format('woff2');
}

:root {
  --background-dark: #110C46;
  --yellow: #F9F367;
  --red: #F24E1E;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-dark);
  font-family: 'Bungee', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--yellow);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  cursor: url('/images/cursor.png') 10 60, auto;
}

h1, h2, h3, h4, h5, a {
  margin: 0;
  font-family: 'Bungee Inline', cursive;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

nav, ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
